@page "/"

<PageTitle>Home</PageTitle>

<h1 class="generic-font-design">Sean's Web Projects</h1>

Welcome my web projects!
<p></p>
I intend to fill this site with various projects to get myself accustom to web development as well as .NET/Blazor using my C# knowledge


<p></p>
Blazor ASP.NET Supplies: 
<ul>
    <li><b>Counter</b></li>
    <li><b>Weather</b></li>
</ul>

I supply:
<ul>
    <li><b>ToDoList</b></li>
    <li><b>Calculator</b></li>
</ul>
